<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../application.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

        <div class="primary-content">
              <%= image_tag("Shteve.PNG", :alt => "Steven says you are logged in")%>
        </div><!-- End .primary-content-->

  </body>
</html>
