<!DOCTYPE html>
<html>
  <head>
    <title>Moderator</title>
    <link rel="stylesheet" href="../application.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

        <div class="primary-content">
          <button onclick="window.location.href=#" class="button">Next</button>
          <br>
          <br>
          <button onclick="window.location.href=#" class="button">Push to Back</button>
          <br>
          <br>
          <button onclick="window.location.href=#" class="button">Shutdown</button>
          <button onclick = "window.location.href='../help.html'" class ="button small-button bottom-corner"> Help </button>
          

        </div><!-- End .primary-content-->

  </body>
</html>
