<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../application.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>

        <div class="primary-content">

            <div class = "form-left">
                <h2>Guest</h2>
                <form>
                    <input type="text" name="accesscode" placeholder="Access Code"><br>
                    <input type="button" value="Join" onclick="window.location.href='loggedin.html'">
                 </form>
            </div>

            <div class = "form-right">
                <h2>Moderator</h2>
                    <form>
                        <input type="text" name="name" placeholder="Name"><br>
                        <input type="text" name="accesscode" placeholder="Access Code"><br>
                        <input type="text" name="password" placeholder="Password"><br>
                        <input type="button" value="Join" onclick="window.location.href='loggedin.html'">
                     </form>
                </div>
        </div><!-- End .primary-content-->

  </body>
</html>
